APP_SECRET=0123456789

DATABASE_URL=mysql://root:test@mysql:3306/symfony?serverVersion=5.7

# use this to disable email delivery
MAILER_DSN=null://localhost
# use this to configure a traditional SMTP server
##MAILER_DSN=smtp://localhost:465?encryption=ssl&auth_mode=login&username=&password=
MAIL_FROM=admin@localhost

REDIS_URL=redis://redis
