{% extends 'layout.html.twig' %}
{% set section="home" %}

{% block pageContent %}
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            {% include "dashboard/card.html.twig"
                with {
                'href': path("cluster_list"),
                'title': 'field.cluster.labels' | trans | capitalize,
                'icon': 'fas fa-cubes',
                'digit': clustersCount,
                'borderClass': 'border-left-primary'
            }
            %}
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            {% include "dashboard/card.html.twig"
                with {
                'href': path("server_list"),
                'title': 'field.server.labels' | trans | capitalize,
                'icon': 'fas fa-server',
                'digit': serversCount,
                'borderClass': 'border-left-success'
            }
            %}
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            {% include "dashboard/card.html.twig"
                with {
                'href': '#',
                'title': 'Slaves Channels',
                'icon': 'fas fa-server',
                'digit': channelsCount,
                'borderClass': 'border-left-info'
            }
            %}
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            {% include "dashboard/card.html.twig"
                with {
                'href': '#',
                'title': 'Problems',
                'icon': 'fas fa-comments',
                'digit': 0,
                'borderClass': 'border-left-warning'
            }
            %}
        </div>
    </div>
{% endblock %}
