[mysqld]
skip-name-resolve
expire_logs_days          = 7
auto_increment_increment  = 3
enforce_gtid_consistency  = ON
gtid_mode                 = ON
log_bin                   = /var/log/mysql/mysql-bin.log
master_info_repository    = TABLE
relay_log                 = mysql-relay-bin
relay_log_info_repository = TABLE
replicate_same_server_id  = 0
sync_binlog               = 100
log_slave_updates         = 1
replicate_ignore_db       = mysql

# should be defined on command line with --auto-increment-offset
# auto_increment_offset   = 1

# should be defined on command line with --server-id
# server_id               = 1
